{% extends 'plantilla.html' %}
{%block title%} Agregar Medico {%endblock%}

{%block body%}

<ul class="nav nav-pills nav-fill" style="background-color: #9DB5B2;">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Medicos</a>
          <ul class="dropdown-menu" style="background-color: #9DB5B2;">
            <li><a class="dropdown-item" href="/addMedic/{{idmedic}}">Registrar Nuevo Medico</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/consultarMedico/{{idmedic}}">Consultar Medicos</a></li>
          </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Pacientes</a>
      <ul class="dropdown-menu" style="background-color: #9DB5B2;">
        <li><a class="dropdown-item" href="/addPac/{{idmedic}}">Registrar Nuevo Paciente</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/consultarPacientes/{{idmedic}}">Consultar Pacientes</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Citas</a>
        <ul class="dropdown-menu" style="background-color: #9DB5B2;">
          <li><a class="dropdown-item" href="/consultarCitas/{{idmedic}}">Consultar Citas</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <form action="/logout">
          <button class="btn btn-outline-danger" type="submit">Cerrar Sesion</button>
        </form>
      </li>
  </ul>

  <div class="container text-center mt-2">
    <div class="row align-items-start">
      <div class="col-md-1 float-md-end mb-1 ms-md-1">
        <img src="{{ url_for('static', filename='img/caduceo.png') }}" width="80" height="80">
      </div>
      <div class="col">  
      </div>
      <div class="col-md-1 float-md-end mb-1 ms-md-1">
        <img src="{{ url_for('static', filename='img/caduceo.png') }}" width="80" height="80">
      </div>
    </div>

    <div class="row justify-content-center">
     <div class="col-10">
        <div class="card card-boby mt-6" style="background-color: #9DB5B2;">
            <div class="container mt-3">
                <div class = "display-6  mt-1 mb-2 text-center"> Añadir Nuevo Medico  {{id}}</div>
                <div class="col">
                    <img src="{{ url_for('static', filename='img/cirujano.png') }}" width="100" height="100">
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3 mt-4">
                            <label class="form-label">Nombre Completo: </label>
                        </div>
                          <div class="mb-3 mt-4">
                            <label class="form-label">RFC: </label>
                          </div>
                          <div class="mb-3 mt-4">
                            <label class="form-label">Cedula: </label>
                          </div>
                          <div class="mb-3 mt-4">
                            <label class="form-label">Especialidad: </label>
                          </div>
                          <div class="mb-3 mt-4">
                            <label class="form-label">Correo: </label>
                          </div>
                          <div class="mb-3 mt-4">
                            <label class="form-label">Celular:</label>
                          </div>
                          <div class="mb-3 mt-4">
                            <label class="form-label">Contraseña: </label>
                          </div>
                          <div class="mb-3 mt-4">
                            <label class="form-label">Selecciona Rol: </label>
                          </div>
                    </div>
                    <div class="col-md-9">
                        <form action = "/addMedico/{{idmedic}}" method="POST">
                            <div class = "mb-3 mt-3"> 
                                <input type="text" name="txtNombre" placeholder="Nombre Completo" class="form-control" required>
                            </div>
                            <div class = "mb-3 mt-3">
                                <input type="text" name="txtRFC" placeholder="RFC" class="form-control" required>
                            </div>
                            <div class = "mb-3 mt-3">
                                <input type="text" name="txtCedula" placeholder="Cedula Profesional" class="form-control" required>
                            </div>
                            <div class = "mb-3 mt-3">
                                <input type="text" name="txtEspecialidad" placeholder="Especialidad" class="form-control">
                            </div>
                            <div class = "mb-3 mt-3">
                                <input type="email" name="txtCorreo" placeholder="Email" class="form-control" required>
                            </div>
                            <div class = "mb-3 mt-4">
                                <input type="text" name="txtCelular" placeholder="Número de Celular" class="form-control">
                            </div>
                            <div class = "mb-3 mt-3">
                                <input type="password" name="txtPassword" placeholder="Contraseña de Acceso" class="form-control" required>
                            </div>
                            <div class = "mb-3 mt-3">
                              <select class="form-select" name="txtRol" aria-label="Default select example" required>
                                <option selected disabled>1 Para Admin o 2 Para Doctor</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>  
                            </div>
   
                    </div>
                      <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-info mb-3"> Añadir </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container text-center mt-2">
        <div class="row align-items-end">
          <div class="col-md-1 float-md-end mb-1 ms-md-1">
            <img src="{{ url_for('static', filename='img/salud.png') }}" width="80" height="80">
          </div>
          <div class="col">  
          </div>
          <div class="col-md-1 float-md-end mb-1 ms-md-1">
            <img src="{{ url_for('static', filename='img/salud.png') }}" width="80" height="80">
          </div>
        </div>



{%endblock%}